*.o
CMakeFiles/*
Testing/*
*.swp
CMakeCache.txt
DartTestfile.txt
Makefile
bin/*
cmake_install.cmake
*.pyc
*.so
*~
*_seqdb2*
python/build/
python/screed.cpp
bigtests/*.fa*
bigtests/*.pyc
libDBREAD.a
libDBWRITE.a
libHASH.a
libTOOLS.a
*_screed
*_screed_hash
*_screed_idx
