src/_seqdb2.cpp
*.o
CMakeFiles/*
Testing/*
*.swp
CMakeCache.txt
DartTestfile.txt
Makefile
bin/*
cmake_install.cmake
libDBREAD.a
libDBWRITE.a
*.pyc
*.so
*~
*_seqdb2
*_seqdb2_idx
python/build/
python/_seqdb2.cpp
